
.container {
    max-width: 100%;
    background-color: #89A2A7
}

.jumbotron {
    margin-top: 20px;
    background-image: url("../images/metrotrain.jpg");
    background-size: 100%;
    text-align: right;
    color: white;
}

.jumbotron,
.panel-title,
{
    font-family: 'Dosis', sans-serif;
}

#tableHead,
#tableBody {
    font-family: 'Space Mono', monospace;
}